extends ./layout


mixin BackendList(backendList)
  if _.get(backendList, 'length')
    .panel.panel-default
      .panel-heading 服务器列表
      table.table
        thead: tr
          th 名称
          th IP
          th 端口
          th 类型
          th url前缀
          th 版本
          th 操作
        tbody
          each backend in backendList
            tr
              td #{backend.name}
              td #{backend.ip}
              td #{backend.port}
              td #{backend.category}
              td #{backend.prefix}
              td #{backend.version || '--'}
              td
                a.glyphicons.glyphicons-remove-2(href='javascript:;', ng-click='backendPage.remove("#{backend.key}", $event)')

mixin AddBackend()
  .row.backendConfig(ng-init='backend = backendPage.backend')
    .col-xs-6.col-sm-4: .input-group
      span.input-group-addon 名称
      input.form-control(type='text', placeholder='请输入名称', ng-model='backend.config.name')
    .col-xs-6.col-sm-4: .input-group
      span.input-group-addon IP
      input.form-control(type='text', placeholder='请输入ip地址', ng-model='backend.config.ip')
    .col-xs-6.col-sm-4: .input-group
      span.input-group-addon 端口
      input.form-control(type='text', placeholder='请输入绑定的端口', ng-model='backend.config.port')
    .col-xs-6.col-sm-4: .input-group
      span.input-group-addon 分类
      input.form-control(type='text', placeholder='请输入该服务的类别', ng-model='backend.config.category')
    .col-xs-6.col-sm-4: .input-group
      span.input-group-addon 域名
      input.form-control(type='text', placeholder='请输入域名，可选', ng-model='backend.config.host')
    .col-xs-6.col-sm-4: .input-group
      span.input-group-addon url前缀
      input.form-control(type='text', placeholder='请输入url的前缀，可选', ng-model='backend.config.prefix')
    .col-xs-3.col-sm-2: a.btn.btn-success(ng-click='backendPage.save()') 保存
    .col-xs-3.col-sm-2: a.btn.btn-default(ng-click='backendPage.mode = "view"') 取消
  .alert.alert-success.hidden(ng-class='{hidden : backendPage.backend.status != "success" && backendPage.backend.op == "save"}') 已成功保存，3秒后将刷新页面！
  .alert.alert-info.hidden(ng-class='{hidden : backendPage.backend.status != "submiting" && backendPage.backend.op == "save"}') 正在提交中，请稍候...
  .alert.alert-danger.hidden(ng-class='{hidden : backendPage.backend.status != "error" && backendPage.backend.op == "save"}', ng-bind='backendPage.backend.error')

//-   <div class="input-group">
//-   <span class="input-group-addon" id="basic-addon1">@</span>
//-   <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
//- </div>

block bodyContainer
  .backendPage(ng-controller='BackendPageController as backendPage')
    include ./nav
    header.headerContainer
      h3.text-center Backend服务器列表

    .backendList
      +BackendList(viewData.backendList)

    .addBackend.hidden(ng-class='{hidden : backendPage.mode != "add"}')
      +AddBackend()
    a.btn.btn-primary.add(href='javascript:;', ng-click='backendPage.mode = "add"', ng-class='{hidden : backendPage.mode == "add"}') 添加
  
  - importer.import('/js/backend.js')
  - importer.import('/css/backend.css')



//-   <div class="panel panel-default">
//-   <!-- Default panel contents -->
//-   <div class="panel-heading">Panel heading</div>

//-   <!-- Table -->
//-   <table class="table">
//-     ...
//-   </table>
//- </div>