- var page = viewData.page;
nav.navContainer
  ul
    li(class='#{page == "home"? "active" : ""}'): a.text-center.logo(href='#{URL("/")}', title='TimTam')
      span.glyphicons.glyphicons-home
      | Home
    li(class='#{page == "varnish"? "active" : ""}'): a.text-center(href='#{URL("/varnish")}')
      i.glyphicons.glyphicons-magic
      | Varnish
    li(class='#{page == "varnish/monitor"? "active" : ""}'): a.text-center(href='#{URL("/varnish/monitor")}')
      i.glyphicons.glyphicons-stats
      | Varnish Stats

    li(class='#{page == "backend"? "active" : ""}'): a.text-center(href='#{URL("/backend")}')
      i.glyphicons.glyphicons-imac
      | Backend





- importer.import('/css/nav.css');