- var activePage = (viewData && viewData.page) || 'home';
nav.navContainer
  ul
    li(class='#{activePage === "home"? "active" : ""}'): a.text-center(href='#{URL("/")}', title='Supervisor') 
      span.glyphicons.glyphicons-home
      | Home
    li(class='#{activePage === "backend"? "active" : ""}'): a.text-center(href='#{URL("/backend")}', title='backend')
      span.glyphicons.glyphicons-server
      | Backend
    li(class='#{activePage === "varnish"? "active" : ""}'): a.text-center(href='#{URL("/varnish")}', title='varnish')
      span.glyphicons.glyphicons-magic
      | Varnish
- importer.import('/css/nav.css');
