- var page = viewData.page;
nav.navContainer
  ul
    li(class='#{page == "home"? "active" : ""}'): a.text-center.logo(href='#{URL("/")}', title='TimTam')
      i.glyphicon.glyphicon-dashboard
      | Home
    li(class='#{page == "varnish"? "active" : ""}'): a.text-center(href='#{URL("/varnish")}')
      i.glyphicon.glyphicon-oil
      | Varnish
    li(class='#{page == "backend"? "active" : ""}'): a.text-center(href='#{URL("/backend")}')
      i.glyphicon.glyphicon-hdd
      | Backend




- importer.import('/css/nav.css');