- var page = viewData.page;
nav.navContainer
  ul
    li(class='#{page == "home"? "active" : ""}'): a.text-center.logo(href='#{URL("/")}', title='TimTam'): i.glyphicon.glyphicon-align-left
    li(class='#{page == "varnish"? "active" : ""}'): a.text-center(href='#{URL("/varnish")}') Varnish
    li(class='#{page == "backend"? "active" : ""}'): a.text-center(href='#{URL("/backend")}') Backend




- importer.import('/css/nav.css');