extends ./layout

mixin BackendListView(backends)
  table.pure-table.pure-table-bordered
    thead: tr
      th #
      th Address
      th Port
      th Node
      th Tags
      th OP
    tbody
      each backend, i in backends
        tr
          td #{i + 1}
          td #{backend.ip}
          td #{backend.port}
          td #{backend.id}
          td #{backend.tags}
          td
            a.glyphicons.glyphicons-stats(href='javascript:;', ng-click='varnishPage.showStats("#{backend.ip}", #{backend.port})')
block bodyContainer
  .varnishPage(ng-controller='VarnishPageController as varnishPage')
    include ./nav
    header.headerContainer
      h3.text-center Varnish
    
    .varnishList
      if viewData.error
        p.text-center 加载varnish信息发生错误
        +Error(viewData.error)
      else if !viewData.varnishList || !viewData.varnishList.length
        p.text-center 暂时没有任何varnish的信息
      else
        +BackendListView(viewData.varnishList) 
    .varnishStatsContainer.hidden(ng-class='{hidden : !varnishPage.stats.show}')
      p.text-center(ng-show='varnishPage.stats.status === "loading"')  正在加载数据，请稍候...
      varnish-stats(stats='varnishPage.stats.data', ng-if='varnishPage.stats.status === "success"')
  
  - importer.import('/js/varnish.js');
  - importer.import('/css/varnish.css');
