extends ./layout

mixin VarnishList(list)
  .panel.panel-default
    .panel-heading 服务器列表
    table.table
      thead: tr
        th 名称
        th IP
        th 端口
        th ttl
        th 更新时间
        th 版本
        th 其它
      tbody
        each item in list
          tr
            td #{item.name}
            td #{item.ip}
            td #{item.port}
            td #{item.ttl}
            td #{item.createdAt}
            td #{item.version || '--'}
            td
              a.glyphicons.glyphicons-list(href='javascript:;', ng-click='varnishPage.showBackendList("#{item.ip}", #{item.port})', title='显示backend列表')


block bodyContainer
  .varnishPage(ng-controller='VarnishPageController as varnishPage')
    include ./nav
    header.headerContainer
      h3.text-center Varnish服务器列表
    if viewData.varnishList
      +VarnishList(viewData.varnishList)

  
  - importer.import('/js/varnish.js');
  - importer.import('/css/varnish.css');